<template name="addUserModal">
    <form class="input-symbol">
        <td><input type="text" class="email" placeholder="Email"></td>
        <td><input type="password" class="password" placeholder="Password"></td>
        <td>
            <label class="checkbox">
                <input type="checkbox" class="isAdmin table-input" name="enabled">
                <!--<span class="checkbox-custom"></span>-->
            </label>
        </td>
        <!--<td><span class="icon-add js-button-add"></span></td>-->
    </form>
</template>
