<template name="addUserModal">
    <form class="modal-form">
        <td><input type="text" class="email field" placeholder="Email"></td>
        <td><input type="password" class="password field" placeholder="Password"></td>
        <td>
            <span class="field">
                <input type="checkbox" class="isAdmin" name="enabled">
                <label>Is Admin</label>
            </span>
        </td>
        <!--<td><span class="icon-add js-button-add"></span></td>-->
    </form>
</template>
