<template name="userItem">
  <tr>
  <!--<div class="list-item {{checkedClass}} {{editingClass}}">-->
    <td class="col-md-4"><input type="text" value="{{emails.[0].address}}" id="email" class="table-input" placeholder="ID"></td>
    <td class="col-md-1">
      <label class="checkbox">
        <input type="checkbox" checked="{{isAdmin}}" class="table-input" name="enabled">
        <!--<span class="checkbox-custom"></span>-->
      </label>
    </td>
    <td class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{organisationName}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {{#each organisations}}
                    <li><a href="#" class="js-select-organisation" user={{../_id}} id={{_id}}>{{attributes.name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </td>
    <td class="col-md-1 delete-item-wrapper">
      <div class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></div>
    </td>
  <!--</div>-->
  </tr>
</template>

<template name="organisationsDropdownTrigger">
</template>
<!--
            {{# dropdownTrigger name="organisationsDropdown" }}
                <button class="btn btn-default" type="button" id="dropdownMenu">
                    {{organisationName}}
                </button>
            {{/ dropdownTrigger }}
            {{# dropdown name="organisationsDropdown" label=attributes.name }}
                <ul class="dropdown__menu">
                    {{#each organisations this}}
                        <li role="menuItem"><a href="#">
                            <button class="btn btn-default" type="button">
                                Test
                            </button>
                        </a></li>
                    {{/each}}
                </ul>
            {{/dropdown}}
-->