<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">

    <img id="logo" src="/img/spur-logo.png"/>
    <section id="menu">

      {{#if currentUser}}
        {{#if Template.subscriptionsReady}}
          <div class="btns-group-vertical nav-btns-group">
              {{#if isInRole 'admin'}}
                  {{#linkTo 'usersShow' }}<div class="btn-secondary">Users</div>{{/linkTo}}
                  {{#linkTo 'organisationsShow' }}<div class="btn-secondary">Organisations</div>{{/linkTo}}
              {{/if}}
              {{#linkTo 'screensetsShow' }}<div class="btn-secondary">Screensets</div>{{/linkTo}}
              <a class="js-logout btn-secondary">Signout</a>
          </div>
          <div class="btns-group-vertical current-organisation">
              <a class="btn-secondary">{{currentOrganisationName}}</a>
          </div>
          <!--<div class="list-buttons">-->
              <div class="list-buttons">
                  <a class="js-new-list link-list-new list-button"><span class="icon-plus"></span>New List</a>
                  {{#if Template.subscriptionsReady}}
                    {{#each lists}}
                      <a href="{{pathFor 'listShow' listId=attributes._id}}" class="list-button {{activeListClass}}" title="{{name}}">
                        <!--{{#if userId}}
                          <span class="icon-lock"></span>
                        {{/if}}
                        {{#if incompleteCount}}
                          <span class="count-list">{{incompleteCount}}</span>
                        {{/if}}
                        -->
                        {{attributes.name}}
                      </a>
                    {{/each}}
                  {{/if}}
              </div>
          <!--</div>-->
          <img id="cb-powers" src="/img/cbr-powers-spur-inv.png"/>
        {{/if}}
      {{else}}
          <div class="btns-group">
              <!--<a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
              <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>-->
          </div>
      {{/if}}
    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container">
        {{#if hasReactComponent}}
            <div>{{> React component=reactComponent}}</div>
        {{else}}
            {{> Template.dynamic template=content}}
        {{/if}}
    </div>
  </div>
</template>