<template name="buttonsItem">
  <tr>
  <!--<div class="list-item {{checkedClass}} {{editingClass}}">-->
    <td class="col-md-1">
      <label class="checkbox">
        <input type="checkbox" checked="{{enabled}}" class="table-input" name="enabled">
        <!--<span class="checkbox-custom"></span>-->
      </label>
    </td>
    <td class="col-md-1"><input type="text" value="{{attributes.id}}" id="id" class="table-input" placeholder="ID"></td>
    <td class="col-md-3"><input type="text" value="{{attributes.name}}" id="name" class="table-input" placeholder="Name"></td>
    <td class="col-md-3"><input type="text" value="{{attributes.email}}" id="email" class="table-input" placeholder="Email"></td>
    <td class="col-md-2"><input type="text" value="{{attributes.sms}}" id="sms" class="table-input" placeholder="SMS"></td>
    <td class="col-md-1"><input type="text" value="{{attributes.state}}" id="state" class="table-input state {{stateColour}}" placeholder="State" readonly></td>
    <td class="col-md-1"><img class="signal" src="/img/signal_{{attributes.signal}}.png"/></td>
    <td class="col-md-1"><input type="text" value="{{attributes.bridge}}" id="bridge" class="table-input" placeholder="Bridge" readonly></td>
    <td class="col-md-1 delete-item-wrapper">
      <div class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></div>
    </td>
  <!--</div>-->
  </tr>
</template>