{
    "bridges": ["BID144", "BID11", "BID147", "BID163", "BID165", "BID166"],
    "cid": "CID157",
    "cid_key": "e76ec5ebfLcVPGPhQUQArniEqV46lDA2YVnJwB96o3x/NkjO2A0cagGg4dvVya+R",
    "uuids": "01000002be040bc968070201",
    "buttonsURL": "http://54.76.157.10:3005/api/buttons/",
    "buttonsKey": "galvanize",
    "dburl": "http://onepointtwentyone-horsebrokedown-1.c.influxdb.com:8086/",
    "dbrootp": "27ff25609da60f2d",
    "twilio_account_sid": "AC72bb42908df845e8a1996fee487215d8",
    "twilio_auth_token": "717534e8d9e704573e65df65f6f08d54",
    "twilio_phone_number": "+441183241580",
    "mail":{
        "password": "Mucht00f@r",
        "user": "bridges@continuumbridge.com",
        "from": "Bridges <bridges@continuumbridge.com>"
    }
}
