<template name="addButtonModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add a button</h4>
                </div>

                <form class="input-symbol modal-form">
                    <div class="modal-body">
                        <div class="well">
                            <div class="form-group">
                                <label for="name">ID</label>
                                <input name="buttonId" type="text" value="{{attributes.id}}">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input name="name" type="text" value="{{attributes.name}}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input name="email" type="text" value="{{attributes.email}}" id="email">
                            </div>
                            <div class="form-group">
                                <label for="sms">SMS</label>
                                <input name="sms" type="text" value="{{attributes.sms}}" id="sms">
                            </div>
                            <div class="form-group">
                                <label for="normalMessage">Normal Message</label>
                                <textarea name="normalMessage" id="normalMessage" type="text" value="{{attributes.normalMessage}}" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pressedMessage">Pressed Message</label>
                                <textarea id="pressedMessage" value="{{attributes.pressedMessage}}" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="customMessage">Custom Message</label>
                                <textarea name="customMessage" id="customMessage" value="{{attributes.customMessage}}" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button submit" class="js-add-button btn btn-default">Add Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>