<template name="addButtonModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add a button</h4>
                </div>

                <form class="input-symbol modal-form">
                    <div class="modal-body">
                        <div class="well">
                            <div class="form-group">
                                <label for="name">ID</label>
                                <input name="buttonId" type="text" value="{{attributes.id}}">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input name="name" type="text" value="{{attributes.name}}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input name="email" type="text" value="{{attributes.email}}" id="email">
                            </div>
                            <div class="form-group">
                                <label for="sms">SMS</label>
                                <input name="sms" type="text" value="{{attributes.sms}}" id="sms">
                            </div>
                            <div class="form-group">
                                <label>Screenset</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{screensetName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        {{#each screensets}}
                                            <li><a href="#" class="js-select-screenset" id={{_id}} buttonId={{../_id}}>{{attributes.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button submit" class="js-add-button btn btn-default">Add Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>