<template name="buttonsItem">
    <tr>
    <!--<div class="list-item {{checkedClass}} {{editingClass}}">-->
        <td class="col-md-1"><input type="text" value="{{attributes.status}}" id="status" class="table-input state {{stateColour}}" placeholder="Status" readonly></td>
        <td class="col-md-1">
            <div class="item-checkbox">
                <input type="checkbox" checked="{{attributes.enabled}}" class="table-input" id="enabled">
            </div>
        </td>
        <td class="col-md-2"><input type="text" value="{{attributes.name}}" id="name" class="table-input" placeholder="Name"></td>
        <td class="col-md-1">
            <button class="js-edit-messages btn-sm btn-default" id={{_id}} type="submit">
                Messages
            </button>
        </td>
        <td class="col-md-1">
            <div class="item-checkbox">
                <input type="checkbox" checked="{{attributes.override}}" class="table-input" id="override">
            </div>
        </td>
        <td class="col-md-2"><input type="text" value="{{attributes.email}}" id="email" class="table-input" placeholder="Email"></td>
        <td class="col-md-1"><input type="text" value="{{attributes.sms}}" id="sms" class="table-input" placeholder="SMS"></td>
        <td class="col-md-1"><img class="signal" src="/img/signal_{{attributes.signal}}.png"/></td>
        <td class="col-md-1"><input type="text" value="{{attributes.bridge}}" id="bridge" class="table-input" placeholder="Bridge" readonly></td>
        <td class="col-md-1 delete-item-wrapper">
          <div class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></div>
        </td>
    <!--</div>-->
    </tr>
</template>