<template name="buttonsItem">
    <tr>
    <!--<div class="list-item {{checkedClass}} {{editingClass}}">-->
        <td class="col-md-1">
            <img class="status-led" src="/img/led-{{ledColour}}.png"/>
            <span class="label label-default">{{attributes.status}}</span>
            <!--<input type="text" value="{{attributes.status}}" id="status" class="table-input state {{statusColour}}" placeholder="Status" readonly>-->
        </td>
        <td class="col-md-2">
            <button class="js-button-action btn-sm btn-default" id={{_id}} type="submit">
                {{buttonAction}}
            </button>
        </td>
        <td class="col-md-3"><input type="text" value="{{attributes.name}}" id="name" class="table-input" placeholder="Name"></td>
        <td class="col-md-2">
            <button class="js-button-config btn-sm btn-default" id={{_id}} type="submit">
                Config
            </button>
        </td>
        <td class="col-md-1">
            <div class="item-checkbox">
                <input type="checkbox" checked="{{attributes.override}}" class="table-input" id="override">
            </div>
        </td>
        <td class="col-md-2"><img class="signal" src="/img/signal_{{signal}}.png"/></td>
        <td class="col-md-1 delete-item-wrapper">
          <div class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></div>
        </td>
    <!--</div>-->
    </tr>
</template>