<template name="buttonConfigModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Edit button {{attributes.name}}</h4>
                </div>

                <div class="modal-body">
                    <div class="well">
                        <form class="input-symbol modal-form">
                            <div class="form-group">
                                <label>Screenset</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="organisationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{screensetName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        {{#each screensets}}
                                            <li><a href="#" class="js-select-screenset" id={{_id}} buttonId={{../_id}}>{{attributes.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id">Id</label>
                                <input type="text" value="{{attributes.id}}" id="id">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" value="{{attributes.email}}" id="email">
                            </div>
                            <div class="form-group">
                                <label for="sms">SMS</label>
                                <input type="text" value="{{attributes.sms}}" id="sms">
                            </div>
                            <div class="form-group">
                                <div class="form-group hold-height">
                                    <div class="checkbox">
                                        <input name="enabled" id="enabled" type="checkbox" checked="{{attributes.enabled}}" >
                                        <label for="enabled"></label>
                                        <div>Enabled</div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<!--
<template name="buttonConfigModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Button config</h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>
-->
