<template name="listShow">
  <div class="page lists-show">
      <nav class="js-title-nav">
          {{#if Template.subscriptionsReady}}
              {{#if editing}}
                <form class="js-edit-form list-edit-form">
                  <input type="text" name="name" value="{{list.attributes.name}}">
                  <div class="nav-group right">
                    <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
                  </div>
                </form>
              {{else}}
                <div class="nav-group">
                  <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
                </div>

                <h1 class="js-edit-list title-page"><span class="title-wrapper">{{list.attributes.name}}</span></h1>

                <div class="nav-group right">
                  <div class="nav-item options-mobile">
                    <select class="list-edit">
                      <option value="delete">Delete</option>
                    </select>
                    <span class="icon-cog"></span>
                  </div>
                  <div class="options-web">
                    <button class="js-edit-defaults btn-sm btn-primary btn-default" type="submit">
                        Defaults
                    </button>
                    <a class="js-delete-list nav-item">
                      <span class="icon-trash" title="Delete list"></span>
                    </a>
                  </div>
                </div>
              {{/if}}
          {{/if}}

      </nav>
    <table class="item-list table table-striped">
        <thead class="buttons-header">
            <tr>
            <!--<div class="list-item {{checkedClass}} {{editingClass}}">-->
                <td class="col-md-1">Status</td>
                <td class="col-md-4">Name</td>
                <td class="col-md-2">Show Custom</td>
                <td class="col-md-2">Signal</td>
                <td class="col-md-2"></td>
                <td class="col-md-1"></td>
            <!--</div>-->
            </tr>
        </thead>
      <tbody>
      <!--<div class="content-scrollable list-items">-->
      {{#if Template.subscriptionsReady}}
        {{#with list._id}} {{! Establish new data context with only the '_id'
                          field. This way, when the 'incompleteCount' field
                          changes, we don't re-render the list contents }}
            {{#each buttons this}}
              {{> buttonsItem}}
            {{else}}
            <div class="wrapper-message">
              <div class="title-message">No buttons here</div>
              <div class="subtitle-message">Add new buttons using the button above</div>
            </div>
          {{/each}}
        {{/with}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading buttons...</div>
          </div>
      {{/if}}
      </tbody>
    </table>

    <form class="js-button-new button-new input-symbol">
        <!--<span class="icon-add js-button-add"></span>-->
        <button class="js-item-add btn-sm btn-primary" type="submit">
            Add Button
        </button>
    </form>
  </div>
</template>
